@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* pallete */
    --primary-color: #5aa9e6ff;
    --secondary-color: #7fc8f8ff;
    --accent1-color: #f9f9f9ff;
    --accent2-color: #ffe45eff;
    /* Fonts */
    --heading-font: 'Antonio', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    /*navigation colors */
    --nav-link-color: #5aa9e6ff;
    --nav-hover-link-color: #7fc8f8ff;
    --nav-hover-background-color: #ffe45eff;

    /* shadows */
    --text-shadow: 2px 2px 2px black;
    --box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.40);
    --box-shadow-header: 0px 3px 2px rgba(0, 0, 0, 0.40);
    --drop-shadow: drop-shadow(2px 2px 2px black);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--accent1-color);
    padding: .5rem 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    /* margin-bottom: .5rem; */
    box-shadow: var(--box-shadow-header);
}

header img {
    border-radius: 100%;
    box-shadow: var(--box-shadow);
}

p {
    padding: 25px;
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;

}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
}

footer {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: black;
}

/* class selectors */

.container {
    background-color: var(--secondary-color);
    padding: 0;
}

.header_nav {
    display: flex;
}

.hero {
    width: 100%;
    position: relative;
}

.hero img,
.trips_hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1,
.trips_hero h1 {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.645);
    padding-block: 1rem;
}

.hero article img {
    width: 220px;
    height: auto;
    float: right;
}

.hero article p {
    font-size: 1.2rem;
    margin-right: .5rem;
    font-weight: 500;
}

/* history styles */
.history {
    display: flex;
}

.history img {
    filter: contrast(1.2) saturate(1.4);
    box-shadow: var(--box-shadow);
}

.history_content {
    flex-grow: 1;
    padding: 0 1rem;
}

.history_content h2 {
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-shadow: var(--text-shadow);
}

.history_content p {
    font-size: 1.1rem;
    padding: 1.2rem;
}

/* adventures styles */

.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    padding-block-end: 1rem;
    padding-inline: 1rem;
    background-color: var(--primary-color);
}

.adventures h2 {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    grid-column: span 5;
    text-align: center;
    background-color: var(--secondary-color);
    text-shadow: var(--text-shadow);
}

.adventures figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

    box-shadow: var(--box-shadow);
}

.adventures img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adventures figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.645);
    padding: .6rem;
    text-align: center;
    font-weight: 500;
}

/* Contact */
main>h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);

}

main>p {
    font-size: 1.2rem;
    padding-inline: 4rem;
    text-align: justify;
    color: var(--accent1-color);
}

address {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: var(--primary-color);
}

form>h2 {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: var(--text-shadow);
}

.form_map_container {
    display: flex;
    padding: 2rem;
    height: 660px;
}

.form_map_container form {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-right: none;
    border-radius: .3rem 0 0 .3rem;
    background-image: url('../images/history.jpg');
    background-size: cover;
    background-position: center;
    color: var(--accent1-color);
    text-shadow: var(--text-shadow);
    font-weight: 500;

}

input[type="email"],
input[type="text"],
textarea {
    height: 2.3rem;
    border-radius: .3rem;
    border: none;
    outline: none;
    margin-bottom: .5rem;
    box-shadow: var(--box-shadow);
    padding-inline: .5rem;
    margin-top: .2rem;
    resize: none;
}

textarea {
    height: 5rem;
    padding-block: .5rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.1rem;
    height: 1.1rem;
}

label:has(input[type="radio"]),
label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding-block: .5rem;
}

button {
    padding-block: .4rem;
    font-size: 18px;
    margin-inline: 2rem;
    background-color: var(--accent2-color);
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
}

.form_map_container iframe {
    width: 40%;
    height: 100%;
    border-radius: 0 .4rem .4rem 0;
    box-shadow: var(--box-shadow);
    border: none;
}

.employee_profiles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.employee_profiles h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding-block-end: 2rem;
    color: var(--accent2-color);
}

.address,
.phone,
.mail,
.mail a {
    text-align: center;
    color: var(--accent1-color);
    font-size: 1.1rem;
}

.employee_profiles {
    width: 100%;
    padding-block: 2rem;
    background-color: var(--primary-color);
}

.employee_profiles figure {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    height: 280px;
    width: 240px;
}

.employee_profiles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee_profiles figure:nth-child(1) img {
    object-position: right;
}

.employee_profiles figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.645);
    padding: .6rem;
    text-align: center;
    font-weight: 500;
}

.trips_hero {
    position: relative;
    height: 55vh;
    width: 100%;
    overflow: hidden;
}

.trips_hero img {
    filter: brightness(89%) saturate(1.4);
}

.trips_hero p {
    position: absolute;
    bottom: 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.645);
    padding-block: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.trips_hero>.cta {
    position: absolute;
    bottom: 80px;
    right: 80px;
    height: fit-content;
    text-align: center;
}

.trips_hero>.cta h2 {
    font-size: 1.5rem;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
    padding-block: 1rem;
}

 

.trips {
    padding-block: 2rem;
}

.trips h2 {
    font-size: 2.8rem;
    padding: 1rem;
    grid-column: span 5;
    text-align: center;
    text-shadow: var(--text-shadow);
}

.trip>h3 {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    grid-column: span 5;
    text-align: center;
    background-color: var(--primary-color);
    text-shadow: var(--text-shadow);
    text-align: center;
}

.trip>.images {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    padding-block: 2rem;

}

.trip>.images img {
    box-shadow: var(--box-shadow);
}

.trip>p {
    font-size: 1.2rem;
    padding-inline: 3rem;
    text-align: justify;
    background-color: var(--primary-color);
}

.trip a,
.home_hero a,
.home_cta a, 
.cta a {
    padding: .4rem 1.5rem;
    background-color: var(--accent2-color);
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
    display: block;
    width: 30%;
    margin-inline: auto;
    text-align: center;
    border-radius: 4px;
    min-width: 240px;
}

.trip:nth-child(1) img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    padding: 1rem;
}


.home_hero {
    position: relative;
    height: 55vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/rafting5_1024.jpg');
    background-position: bottom;
    background-size: cover;
}

.home_hero h1 {
    font-size: 4rem;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
    text-align: center;
    filter: var(--drop-shadow);
}

.home_hero p,
.home_cta p {
    font-size: 1.7rem;
    color: var(--accent1-color);
    text-shadow: var(--text-shadow);
    text-align: center;
    padding-inline: 16rem;
    filter: var(--drop-shadow);
}

 

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

.newsletter h2 {
    font-size: 2.5rem;
    padding-block: 1rem;
    text-align: center;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
    filter: var(--drop-shadow) brightness(1.1);

}

.newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.newsletter form>input {
    width: 340px;
}

.newsletter p {
    padding: 0;
    font-size: 1.2rem;
    padding-block: 1rem;
}

.newsletter button {
    width: 200px;
    margin: 0;
}

.home_cta {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    background-color: var(--primary-color);
}

.home_cta h2 {
    font-size: 2.5rem;
    padding-block: 1rem;
    text-align: center;
    color: var(--accent2-color);
    text-shadow: var(--text-shadow);
}

.home_cta p{
    filter: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    ;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    padding: 3rem 1rem;
}

.grid img {
    width: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.grid h3 {
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    grid-column: span 5;
    text-align: center;
    background-color: var(--primary-color);
    text-shadow: var(--text-shadow);
    text-align: center;
}

.grid_item p {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: justify;
}